<div class="card mb-4">
  <div class="card-body bg-light">

    <img class="img-thumbnail float-right" src="//api.angular.schule/avatar/{{ book.rating }}">

    <div class="card-title">
      <h2>{{ book.title }}</h2>
      <span class="badge badge-secondary">{{ book.rating }}</span>
    </div>

    <p>
      {{ book.description }}
    </p>

    <span *ngFor="let x of getStars()">⭐</span>

    <div>
      <button class="btn btn-secondary mr-2" (click)="doRateUp()"> + </button>
      <button class="btn btn-secondary mr-2" (click)="doRateDown()"> – </button>

      <a [routerLink]="['/books', book.isbn]">Details</a>
    </div>

  </div>
</div>


{{ log() }}
